@model ES_Software.Models.ClientModelReservar
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@{
    ViewBag.Title = "Reservar";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Reservar", "Client", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4></h4>
}
<div class="form-horizontal">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID Reservacion</th>
                <th>Cedula Cliente</th>
                <th>ID Paquete</th>
                <th>Fecha</th>
                <th>Fecha Contratación</th>
                <th>Hora Contratación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                <tr>
                    <th scope="row" `>Uno</th>
                    <td>Dos</td>
                    <td>Tres</td>
                    <td>Cuatro</td>
                    <td>Cinco</td>
                    <td>Seis</td>
                    <td>@Html.ActionLink("Editar", "Editar", "Account", new { id = 5 }, null)</td>
                </tr>
            }
        </tbody>

    </table>

</div>
